@model int

<div class=" container row p-4 " >
    <div class=" col-12 text-center " >
        <h1 class="text-success text-center"> Order placed successfully </h1>
        Your Order Number is : @Model <br /> <br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color: burlywood" >
        <br />

        Your Order placed successfully
    </div>
</div>